


<div th:fragment="commentOnPost">
    <div class="row">

        <div class="row">
            <div class="col-12 my-3">
                <i class="bi bi-chat-dots-fill" style="font-size: 25px;" type="button"></i>
                <span> Comment(0) </span>
            </div>
        </div>

        <div class="row" >
            <div class="col-12">
                <form>
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                                            <textarea class="form-control"  rows="4"
                                                      placeholder="add a comment...">
                                            </textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 d-grid gap-2">
                            <button type="button" class="btn btn-outline-primary"
                                    data-mdb-ripple-color="dark">DISCARD</button>
                        </div>
                        <div class="col-6 d-grid gap-2">
                            <button class="btn btn-primary" type="button">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>