

<div th:fragment="navbar" >
  <div class="mynavbar bg-light">
    <nav class="container navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CloneReddit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbtn" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <form class="d-flex">
            <button class="btnlogin btn btn-outline-success" type="submit">Sign Up</button>
            <button class="btn btn-outline-success" type="submit">Sign In</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>