


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    background-color: rgb(243,242,246) !important;

}

.mybody {
    margin-top: 50px;
    max-height: 70vh;
    display: flex;
    justify-content: center;

}

.mynavbar {
    box-shadow: 0px 0px 5px black;
}

.navbtn {
    display: flex;
    justify-content: flex-end;
}

.btnlogin {
    margin-right: 20px;
}


.mycontent {
    margin: 20px;
}

.left-side {
    border-radius: 10px;
    height: inherit;
    overflow-y: scroll;
    height: 80vh;
}

.inner-left {
    margin: 10px;
}

.post-card {
    min-width: 100%;
    background-color: white !important;
    margin: 0px !important;
    z-index: 2 !important;
}


.right-side {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.inner-right {
    margin: 0px 5px 0px 5px;
    border-radius: 10px;

}

.mycard {
    margin-bottom: 20px;
    width: inherit !important;
}

.mybtn {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.title-subreddit {
    border: 0;
}

.list-subreddit {
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    max-height: 155px;
    overflow: hidden;
}

.list-subreddit a {
    padding: 5px ;
    border-bottom: 1px solid black;
    margin: 0px 0px 10px 0px !important;
}

.btn-view-all {
    color: inherit;
    text-align: center;
    background-color: white;
    border: 0;
    outline: 0;
    padding: 0px 10px 15px 10px;
}

.left-side-btn {
    background: none;
    color: inherit;
    border: none;
    /*padding: 15px 0px 0px 0px ;*/
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.title-post {
    padding: 0 !important;
}

.title-post a {
    font-size: 20px;
    margin-right: 20px;
    color: black;
}

.all-post-title {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.flex-handle {
    display: flex;
    flex-direction: row;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.flex-1 , .flex-2 {
    flex: 1;
    padding: 0;
}

.flex-2 {
    text-align: right;

}

.flex-2 i {
    margin-right: 5px;
}


.post img {
    width: 100%;
    height: 100%;
}


.subreddit-form-btn {
    width: 49%;
}

@media (max-width: 988px) {

    .navbtn {
        margin-top: 10px;
    }

}