<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<style>
    .left-side {
        overflow-y:hidden;
        height: auto;
        padding: 10px 10px 10px 10px;
    }
</style>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <div class="col-8 left-side">

            <form  th:action="@{/handle-add} " th:object="${insertpost}" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" >Create Post</label>
                    <input th:field="*{post_title}" type="text" class="form-control" id="exampleFormControlInput1"
                           placeholder="Post Title">
                </div>
                <div class="mb-3">
                            <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      placeholder="Description"></textarea>
                </div>

                <select th:field="*{subred_id}" class="form-select w-100" aria-label="Default select example" >
                    <option type="number" selected="selected" th:each="subredditobj:${Subredditdata}" th:text="${subredditobj.title}" th:value="${subredditobj.id}" >Music s</option>
                </select>

                <div class="mb-3 mt-3">
                    <!-- <label for="formFile" class="form-label">Default file input example</label> -->
                    <!--                    <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticle1" aria-describedby="nameHelp">-->
                    <div style="width: 500px ; object-fit: contain">
                        <img src="https://www.alpiend.com/admin/assets/images/default.png" id="output" width="100%" height="100%"/>
                    </div>
                    <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticle1" aria-describedby="nameHelp" th:field="*{file}">
                </div>

                <div class="d-grid gap-2 d-md-block">
                    <a th:href="@{/}" class="btn btn-danger subreddit-form-btn" type="button">Discard</a>
                    <button class="btn btn-primary subreddit-form-btn" type="submit">
                        Post</button>

                </div>

            </form>

        </div>

        <div class="col-4 right-side">
            <div class="inner-right">

                <!--                <div th:replace="fragments/leftContent.html :: leftContent">-->

                <!--                </div>-->

            </div>
        </div>

    </div>

</div>

<div>

</div>









<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>