<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <div th:fragment="createSubreddit" class="w-100" >
            <form th:action="@{/addSubreddits}" th:object="${subreddit}" class="p-4"  method="post" enctype="multipart/form-data" >
                <div class="col-12 mb-3">
                    <label for="exampleInputEmail1" class="form-label">
                        <h5>Create SubReddit</h5>
                    </label>
                    <input th:field="${subreddit.title}" type="text" class="form-control w-100" id="exampleInputEmail1" >
                </div>
                <div class="w-100">
                    <a th:href="@{/}" type="discard" class="btn btn-primary subreddit-form-btn">Discard</a>
                    <button th:href="@{/addSubreddit}" type="submit" class="btn btn-primary subreddit-form-btn">Post</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

