<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<style>

    .mybody {
        margin-top: 10px !important;
    }

    .left-side {
        overflow-x: hidden;
    }

    .all-post-title {
        position: sticky;
        top: 0;
        z-index: 0;
        background-color: white !important;
        padding: 10px !important;
    }

    .title-subreddits {
        background-color: white !important;
        z-index: 5;
    }

</style>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <div class="col-12 m-3" >
            <a th:href="@{/}" class="col-4" > < Back</a>
        </div>

        <div class="col-8 left-side">

            <div th:fragment="post"  class="inner-left row">

                <!--    loop all subreddit here -->
                <div  th:each="postclassobj:${postClass}" th:action="@{/readPost/{post_id} (post_id=${postClass.post_id})}" class="row post-card" style="margin-right: 0; margin-left: 0;">

                    <!--            subreddit title-->
                    <div class="title-subreddits title-post all-post-title col-12 mb-3 flex-handle">
                        <div class="flex-1">
                            <a th:text="${postClass.post_title}">Music</a><span th:text="${postClass.subred.auto_date}" >12/12/2022</span>
                        </div>
                        <div class="flex-2">
                            <a th:href="@{/updatePost/{post_id} (post_id=${postClass.post_id})}">
                                <i class="bi bi-pencil-fill" style="font-size: 15px;" type="button"></i>
                            </a>
                            <a th:href="@{/deletePost{post_id}(post_id=${postClass.post_id})}">
                                <i class="bi bi-trash-fill" style="font-size: 15px;" type="button"></i>

                            </a>
                        </div>
                    </div>
                    <!--            end subreddit title-->

                    <!--            post card-->

                    <div class="col-1 my-4" style="padding-right: 0;">
                        <div class="list-group " style="text-align: center">
                            <a  th:href="@{/like_Count_In_Comment/{id}(id=${postClass.post_id})}"> <i class="bi bi-arrow-up"></i></a>
                            <p class="left-side-btn" th:text="${postClass.like_count}"></p>
                            <a  th:href="@{/unlike_count_In_Comment/{id}(id=${postClass.post_id})}"><i class="bi bi-arrow-down"></i></a>
                        </div>
                    </div>

                    <div class="col-11">

                        <div class="mypost col-12">

                            <div class="title-post my-3">
                                <a href="#" th:text="${postClass.post_title}">Guitar</a>
                            </div>

                            <div class="sub-title my-3" th:text="${postClass.description}">
                                Strumming 101.
                            </div>
                            <div class="post mb-3">
                                <img th:src="${postClass.url}" >
                            </div>
                            <div class="col-12 my-3">
                                <i class="bi bi-chat-dots-fill" style="font-size: 25px;" type="button"></i>
                                <span> Comment( <span >0</span> ) </span>
                            </div>
                            <div class="col-12">
                                <form th:action="@{/handle-comment/{post_id}(post_id=${postClass.post_id})}" th:object="${comment}" method="post" enctype="multipart/form-data">
                                    <!-- Message input -->
                                    <div class="form-outline mb-4">
                                            <textarea th:field="${comment.cmttitle}" class="form-control"  rows="4"
                                                      placeholder="add a comment...">
                                            </textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6 d-grid gap-2">
                                            <a th:href="@{/readPost}" type="button" class="w-100 btn btn-outline-primary"
                                                    data-mdb-ripple-color="dark">DISCARD</a>
                                        </div>
                                        <div class="col-6 d-grid gap-2">
                                            <button  class="btn btn-primary w-100" type="submit">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div th:each="coms:${loopcmt}" class="col-12 m-3 flex-handle">
                            <div class="w-20 my-4" style="padding-right: 0;">
                                <div class="list-group " style="text-align: center">
                                    <button class="left-side-btn"><i class="bi bi-arrow-up"></i></button>
                                    <p th:text="${coms.like_count}" class="left-side-btn"></p>
                                    <button class="left-side-btn"><i class="bi bi-arrow-down"></i></button>
                                </div>
                            </div>
                            <div class="w-70 my-4">
                                <div class="list-group " style="text-align: left ; display: inline-block">
                                    <p th:text="${coms.auto_date}" class="left-side-btn" ></p>
                                    <p th:text="${coms.cmttitle}" class="left-side-btn" ></p>
                                    <p class="left-side-btn" ></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-4 right-side">
            <div class="inner-right">

                <div th:replace="fragments/leftContent.html :: leftContent">

                </div>

            </div>
        </div>

    </div>

</div>

<div>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>