<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<style>
    .left-side {
        overflow-y:hidden;
        height: auto;
        padding: 10px 10px 10px 10px;
    }
</style>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <div class="col-8 left-side">

            <form th:action="@{/handle-update/{post_id}(post_id=${postClass.post_id})}" th:object="${postClass}" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Update Post</label>
                    <input  name="title" th:value="${postClass.post_title}" th:field="${postClass.post_title}" type="text" class="form-control" id="exampleFormControlInput1"
                           placeholder="Post Title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        th:value="${postClass.description}" th:field="${postClass.description}"              placeholder="Description"></textarea>
                </div>

                <select class="form-select w-100" aria-label="Default select example" >
                    <option selected th:text="${subreddit}">Music s</option>

                </select>

                <div class="mb-3 mt-3">
                    <input class="form-control" type="file" name="file" id="formFile" onchange="loadFile(event)">
                    <input name="url" th:value="${postClass.url}" class="form-control" hidden type="text" id="formFilesfdsdf" onchange="loadFile(event)">
                    <input name="subred_id" th:value="${postClass.subred_id}" class="form-control" hidden type="text" id="formFilessdfdsffdsdf" onchange="loadFile(event)">

                </div>

                <div class="my-3">
                    <img id="output" th:src="${postClass.url}" alt="" width="250px" height="250px">
                </div>

                <div class="d-grid gap-2 d-md-block">
                    <a th:href="@{/}" class="btn btn-danger subreddit-form-btn" type="button">Discard</a>
                    <button type="submit" class="btn btn-primary subreddit-form-btn" >Update</button>
                </div>
            </form>

        </div>

        <div class="col-4 right-side">
            <div class="inner-right">
            </div>
        </div>

    </div>

</div>

<div>

</div>







    <script>
        var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>