<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<style>
    .left-side {
        overflow-y: scroll;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
        /*overflow-y: hidden;*/
    }

    .all-post-title {
        border-bottom: 0;
        padding: 20px !important;
    }
</style>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <div class="col-8 left-side">

            <div class="inner-left row">

                <a th:href="@{/}" > < Back</a>

            <!--    loop all subreddit here -->
                <div th:each="allSub:${allSubReddit}" class="col-12 card">
                    <div class="title-post all-post-title col-12 flex-handle">
                        <div class="flex-1">
                            <a th:text="${allSub.title}" href="#">Music</a>
                        </div>
                        <div class="flex-2">
                            <a th:href="@{/editSubreddit/{id}(id=${allSub.id})}">
                                <i class="bi bi-pencil-fill" style="font-size: 15px;" type="button"></i>
                            </a>
                            <a th:href="@{/deleteSubReddit{id}(id=${allSub.id})}">
                                <i class="bi bi-trash-fill" style="font-size: 15px;" type="button"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <!--    from here loop all subreddit-->
            </div>
        </div>

        <div class="col-4 right-side">
            <div class="inner-right">


            </div>
        </div>

    </div>

</div>

<div>

</div>











<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>