<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>

<body>

<style>

    .left-side {
        overflow-x: hidden;
    }

    .all-post-title {
        position: sticky;
        top: 0;
        z-index: 0;
        background-color: white !important;
        padding: 10px !important;
    }

    .title-subreddits {
        background-color: white !important;
        z-index: 5;
    }

</style>

<div th:replace="fragments/navBar.html :: navbar" >

</div>

<div class="mybody container">

    <div class="container row mycontent">

        <!--        start left-->
        <div class="col-8 left-side">

            <a th:href="@{/}" > < Back </a>

            <div th:action="@{/viewSubReddit/{post_id}(post_id=${postclassobj.post_id})}"  class="inner-left row">

                <div th:each="postclassobj:${postclass}" class="row post-card" style="margin-right: 0; margin-left: 0;">

                    <!--            subreddit title-->
                    <div class="title-subreddits title-post all-post-title col-12 mb-3 flex-handle">
                        <div class="flex-1">
                            <a th:text="${postclassobj.subred.title}">Music</a><span th:text="${postclassobj.subred.auto_date}" >12/12/2022</span>
                        </div>
                        <div class="flex-2">
                            <a th:href="@{/updatePost/{post_id} (post_id=${postclassobj.post_id})}">
                                <i class="bi bi-pencil-fill" style="font-size: 15px;" type="button"></i>
                            </a>
                            <a th:href="@{/deletePost{post_id}(post_id=${postclassobj.post_id})}">
                                <i class="bi bi-trash-fill" style="font-size: 15px;" type="button"></i>

                            </a>
                        </div>
                    </div>
                    <!--            end subreddit title-->

                    <!--            post card-->

                    <div class="col-1 my-4" style="padding-right: 0;">
                        <div class="list-group " style="text-align: center">
                            <a  th:href="@{/like_Count/{id}(id=${postclassobj.post_id})}"> <i class="bi bi-arrow-up"></i></a>
                            <p class="left-side-btn" th:text="${postclassobj.like_count}"></p>
                            <a  th:href="@{/unlike_count/{id}(id=${postclassobj.post_id})}"><i class="bi bi-arrow-down"></i></a>
                        </div>
                    </div>

                    <div class="col-11">

                        <div class="mypost col-12">

                            <div class="title-post my-3">
                                <a href="#" th:text="${postclassobj.post_title}">Guitar</a>
                            </div>

                            <div class="sub-title my-3" th:text="${postclassobj.description}">
                                Strumming 101.
                            </div>
                            <div class="post mb-3">
                                <img th:src="${postclassobj.url}" >
                            </div>
                            <div class="my-3">
                                <i class="bi bi-chat-dots-fill" style="font-size: 25px;" type="button"></i>
                                <span>  Comment(0)  </span>
                                <a th:href="@{/readPost/{post_id} (post_id=${postclassobj.post_id})}" type="button" class="btn btn-primary">Read Post</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!--                end post card-->


            </div>

        </div>
        <!--        end left-->

        <!--        start right-->
        <div class="col-4 right-side">
            <div class="inner-right">



            </div>
        </div>
        <!--        end right-->

    </div>

</div>











<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>